{% extends 'common/index.html' %}

{% load course_custom %}

{% block menu %}
    {% include 'menu/menu.html' %}
{% endblock %}

{% block body %}

    <style>
        #price{
            font-family: arial;
        }
    </style>

    <div class="container-fluid">

        <br>
        <div class="row">
        {% for course in object_list %}
        <div class="col mx-auto">
            <div class="card mx-auto" style="width: 18rem;">
            <img src="{{ course.thumbnail.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <p class="card-text">save {{ course.discount }}% 
                    <br>
               <del>  {{ course.price | rupee }}</del>
               &nbsp; <span id="price"> {% cal_sell_price course.price course.discount as value %}
                   {{ value | rupee}}
               </span>

                </p>
                </div>


            <!-- footer -->
            
            <div class="card-footer">
                <div class="row no-gutters">
                {% is_enroll request course  as enroll%}


                {% if enroll %}
                <div class="col border text-center">
                    <a href="{% url 'show_more' course.slug %}" 
                    class="btn btn-outline-info btn-block">Watch Now</a>
                </div>

                {% else %}
                
                <div class="col border">
                    <a href="{% url 'check_out' course.slug %}" 
                    class="btn btn-light btn-block">Enroll</a>
                </div>
                    <div class="col border ">
                        <a href="{% url 'show_more' course.slug %}" 
                        class="btn btn-light btn-block" >Show More</a>
                    </div>
                    {% endif %}
                </div>

            </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}